@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root{
    --green-clr: #dffe02; 
    --gray-clr: #898989;
    --dark-blue-clr: #171c22;
    --pink-clr: #ff0066;
    --aqua-clr: #00ffff;
}
.bg-green{  
    background: var(--green-clr);
}

.bg-dark-blue{
    background: var(--dark-blue-clr);
}
.txt-green{
    color: var(--green-clr);
}

.txt-gray{
    color: var(--gray-clr);
}

body{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    overflow-x: hidden !important;
}

.container-fluid{
    overflow-x: hidden !important;
}

.logo span{
  background-color: var(--green-clr);
  padding: 2px 5px !important;
  border-radius: 5px;
  color: #000000;
}
.logo{
    letter-spacing: 3px;
    
}

.mybtn{
    border: .1rem solid var(--green-clr) !important;
    
    
}

.mybtn:hover{
    background: transparent;
    color: var(--green-clr);
    transition: 0.2s linear;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

ul a:hover{
    color: var(--green-clr) !important;
}

.active{
    color: var(--green-clr) !important;
}

.myNav{
    position: sticky;
    top: 0;
    background: #000000; 
    width: 100%;
    z-index: 2;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}


.row {
    margin-left: 0;
    margin-right: 0;
}

.mybtn2{
    border: .1rem solid var(--green-clr) !important;
    color: var(--green-clr);
    background: transparent;
}

.mybtn2:hover{
    background-color: var(--green-clr);
    color:black;
    transition: 0.3s linear;
}

.myimg{
    width: 23rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
    background-image: url(./asset/homeimg.png);
    background-position: center;
    background-size: 120%;
    box-shadow: 
    0 0 1rem white,
     inset 0 0 1rem white,
     0 0 2rem var(--green-clr),
     inset 0 0 2rem var(--green-clr),
      0 0 4rem var(--green-clr),
     inset 0 0 3rem var(--green-clr);

}

.space{
    letter-spacing: 2px;
}

.homespan{
    letter-spacing: .3rem;
}

.glow{
    position: relative;
    overflow: hidden !important;
}

.glow::before{
   content: "";
   background: var(--green-clr);
   position: absolute;
   inset: 6rem;
   border-radius: 50%;
   z-index: -1;
   filter: blur(70px);
}

.card-body i{
    font-size: 4.5rem;
    margin: 0 auto;
    align-items: center;
    color: transparent;
    -webkit-text-stroke: 1px red;
}



.project-card{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project-body .project-btns{
    margin-top: auto;
}

.project-body .project-btns a{
    font-size: 12px !important;
}
    

.card:hover{
   transform: translateY(-5%);
   transition: 0.4s linear;
}

.mycard{
    height: 30vh !important;
}
.icon{
    padding: 10px;
    background: #212326;
    background: linear-gradient(90deg, rgba(33, 35, 38, 1) 5%, rgba(0, 0, 0, 1) 100%);
    border-radius: 5px;
}

.icon i{
    color: transparent;
    -webkit-text-stroke: 1px var(--green-clr);
}

.form-box {
    background-color: var(--dark-blue-clr);
    border-radius: 15px;
    padding: 40px;
}

.form-control,
.form-control:focus {
    background-color: #2a2a2a;
    color: #fff;
    border: none
    
}

.form-control::placeholder{
    color: var(--gray-clr);
}

.info-icon {
    width: 40px;
    height: 40px;
    border: 2px solid var(--green-clr);
    border-radius: 50%;
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--green-clr);
}











@media (max-width:1050px){
    .myimg{
        width: 20rem;
    }
}

@media (max-width:992px){
    .about-para{
        font-size: 12px !important;
    }
}

@media (max-width:768px) {
    .project-body .project-btns{
       margin-top: 10px !important;
    }

    .about-para{
        font-size: 14px !important;
    }
    .project-card{
        height: fit-content !important;
    }

    .glow::before{
        inset: 6rem !important;
    }
}



@media screen and (max-width: 552px){
    .myimg{
        width: 18rem;
        box-shadow: 
    0 0 1rem white,
     inset 0 0 1rem white,
     0 0 2rem var(--green-clr),
     inset 0 0 2rem var(--green-clr),
      0 0 3rem var(--green-clr),
     inset 0 0 3rem var(--green-clr);
    }

    .card-body i{
        font-size: 3rem;
    }

    .about-para{
        font-size: 12px !important;
    }

    .myWork-btn{
        font-size: 10px !important;
    }

    .card-body .skill-txt{
        font-size: 9px !important;
    }

    .glow::before{
        inset: 6rem !important;
    }
    
}

@media (max-width: 425px){
    .myimg{
        width: 16rem;
    }
    
    .card-body .skill-txt{
        font-size: 7px !important;
    }
    .card-body i{
        font-size: 2.5rem;
    }

    .about-para{
        font-size: 10px !important;
    }

    .about-title{
        font-size: 19px !important;
    }

    .project-body .card-title{
        font-size: 15px !important;
    }

    .project-body .card-text{
        font-size: 10px !important;
    }

     .glow::before{
        inset: 5rem !important;
    }

    .project-body .project-btns a{
        font-size: 8.5px !important;
    }
}